* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: lightblue;
}

html {
  /* sets 1 rem to 10 pixels */
  font-size: 62.5%;
}

header {
  text-align: center;
}

.anchor{
    text-align: center;
}
