* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
      background: linear-gradient(to top left, #54b428, #6fd5b6);
  }

  html {
      /* sets 1 rem to 10 pixels */
    font-size: 62.5%; 
}